#maincontent {
	margin-left: 150px;
	padding-left: 25px;
	margin-right: 75px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	
}

nav ul li a {
	display: block;
	width: 120px;
	background-color: #61C39B;
	text-decoration: none;
	color: #000;
	border-right: solid;
	border-left: solid;

	border-color: #fff

}

nav ul li a:hover {
	background-color: #555;
	color: #fff;
}

.active {
	background-color: #4CAF50;
	color: #fff;
}

@media screen and (max-width: 600px) {
	
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	
}

nav ul li a {
	display: block;
	width: 80px;
	background-color: #f1f1f1;
	text-decoration: none;
	color: #000;

}

}
	

img.resize {
	max-height: 300px;
}

body {
	font-size: 14 px;
	color: navy;
	background-color: #61C39B;
	
}