#maincontent {
	margin-left: 150px;
	padding-left: 25px;
	margin-right: 75px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	
}

nav ul li a {
	display: block;
	width: 80px;
	background-color: #FFBB00;
	text-decoration: none;
	color: #000;

}

nav ul li a:hover {
	background-color: #555;
	color: #fff;
}

.active {
	background-color: #4CAF50;
	color: #fff;
}

@media screen and (max-width: 600px) {
	
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: fixed;
	height: 100%;
	top: 0;
	bottom: 0;
	
}

nav ul li a {
	display: block;
	width: 80px;
	background-color: #ffbb00;
	text-decoration: none;
	color: #000;

}
}
	

img.resize {
	max-height: 300px;
}